@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import './sass/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
}

header {
    position: relative;
    background: url(./images/mobile/image-header.jpg) no-repeat center;
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.5rem 0;

        #nav-menu {
            display: none;

            &.show-menu {
                display: block;
                list-style-type: none;
                width: 329px;
                min-height: calc(329px - 24px);
                position: absolute;
                top: calc(56px + 26px + 24px);
                right: 1.5rem;
                background-color: $light-gray;
                z-index: 1;

                li {
                    width: fit-content;
                    margin: 0 auto 2rem;
                    font: $fw-normal 20px/25px $ff-barlow;
                    letter-spacing: -0.14px;

                    &:first-child {
                        margin-top: 2.4375rem;
                    }

                    &:last-child {
                        margin-bottom: 2.4375rem;
                    }

                    &:nth-child(4) {

                        a {
                            display: block;
                            padding: 1rem 2rem;
                            background-color: $yellow;
                            border-radius: 28px;
                            font: $fw-bold 15px/25px $ff-fraunces;
                            color: $very-dark-desaturated-blue;
                            letter-spacing: -0.11px;
                            text-transform: uppercase;
                        }
                    }

                    a {
                        color: $dark-grayish-blue;
                        text-decoration: none;
                    }

                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -24px;
                    right: 0;
                    border-top: 12px solid transparent;
                    border-left: 12px solid transparent;
                    border-right: 12px solid $light-gray;
                    border-bottom: 12px solid $light-gray;
                }
            }
        }

        .h-menu {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .hero {
        padding: 0 1.5rem 78.935%;

        &__title {
            margin-top: 5.5rem;
            font: $fw-bolder clamp(2.5rem, 4vw, 3.5rem)/3.0825rem $ff-fraunces;
            letter-spacing: 0.3906rem;
            color: $white;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &::after {
        content: "";
        width: 36px;
        height: 114px;
        position: absolute;
        bottom: 25.35%;
        left: calc(50% - 36px / 2);
        background: url(./images/icon-arrow-down.svg);
    }
}

main {
    #about {
        display: grid;
        grid-template-areas: "transform-img"
                             "transform"
                             "standout-img"
                             "standout";

        .transform {
            grid-area: transform;

            &-img {
                min-height: 312px;
                grid-area: transform-img;
                background: url(./images/mobile/image-transform.jpg) no-repeat center;
                background-size: cover;
            }
        }

        .standout {
            grid-area: standout;

            &-img {
                min-height: 312px;
                grid-area: standout-img;
                background: url('./images/mobile/image-stand-out.jpg') no-repeat center;
                background-size: cover;
            }
        }

        .about {
            padding: 4rem 1.5rem;
            text-align: center;

            &__title {
                margin-bottom: 1.5rem;
                font: $fw-bolder clamp(2rem, 4vw, 2.5rem)/2.4663rem $ff-fraunces;
                letter-spacing: -0.23px;
                color: $very-dark-desaturated-blue;
            }

            &__info {
                margin-bottom: 2rem;
                font: $fw-normal 1.125rem/1.875rem $ff-barlow;
                letter-spacing: -0.13px;
                color: $dark-grayish-blue;
            }
        }

        .learn-more {
            display: inline-block;
            padding: 0px 8px;
            position: relative;
            font: $fw-bolder 0.9375rem/1.5625rem $ff-fraunces;
            letter-spacing: 1px;
            color: $very-dark-desaturated-blue;
            text-transform: uppercase;
            text-decoration: none;

            &::after {
                content: "";
                width: 100%;
                height: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #CCC;
                border-radius: 28px;
                opacity: 0.25;
                z-index: -1;
            }

            &--yellow {
                &::after {
                    background-color: $yellow;
                }
            }

            &--red {
                &::after {
                    background-color: $soft-red;
                }
            }
        }
    }

    #services {
        display: grid;
        grid-template-areas: "graphic"
                             "photography";

        .graphic {
            grid-area: graphic;
            background: url('./images/mobile/image-graphic-design.jpg') no-repeat center;
            background-size: cover;
            color: $dark-desaturated-cyan;
        }

        .photography {
            grid-area: photography;
            background: url('./images/mobile/image-photography.jpg') no-repeat center;
            background-size: cover;
            color: $dark-blue;
        }

        .service {
            width: 95%;
            max-width: 20.4375rem;
            margin: 24.875rem auto 3.6875rem;
            text-align: center;

            &__title {
                margin-bottom: 1.6875rem;
                font: $fw-bolder 1.75rem/2.1575rem $ff-fraunces;
                letter-spacing: -0.2px;
            }

            &__info {
                font: $fw-normal 1rem/1.6875rem $ff-barlow;
                letter-spacing: -0.11px;
            }
        }
    }

    .testimonials {
        width: 87.2%;
        max-width: 69.375rem;
        margin: 4rem auto;
        text-align: center;

        &__title {
            margin-bottom: 4rem;
            font: $fw-bolder 1rem/1.2331rem $ff-fraunces;
            letter-spacing: 4px;
            color: $grayish-blue;
            text-transform: uppercase;
        }

        &__container {
            display: grid;
            gap: 4rem 1.875rem;
            grid-template-columns: 1fr;
        }
    }

    .testimonial {
        img {
            display: inline-block;
            width: 4.5rem;
            height: 4.5rem;
            margin-bottom: 2rem;
            border-radius: 50%;
        }

        &__quote {
            margin-bottom: 2rem;
            font: $fw-normal 1.125rem/2rem $ff-barlow;
            letter-spacing: -0.13px; 
            color: $very-dark-grayish-blue;
        }

        &__author {
            margin-bottom: 0.5625rem;
            font: $fw-bolder 1.125rem/1.3869rem $ff-fraunces;
            letter-spacing: -0.13px;
            color: $very-dark-desaturated-blue;
        }

        &__role {
            font: $fw-normal 0.875rem/1.5625rem $ff-barlow;
            letter-spacing: -0.1px;
            color: $grayish-blue;
        }
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .milk {
            background: url('./images/mobile/image-gallery-milkbottles.jpg') no-repeat center;
        }

        .orange {
            background: url('./images/mobile/image-gallery-orange.jpg') no-repeat center;
        }

        .cone {
            background: url('./images/mobile/image-gallery-cone.jpg') no-repeat center;
        }

        .sugar {
            background: url('./images/mobile/image-gallery-sugar-cubes.jpg') no-repeat center;
        }

        .milk, .orange, .cone, .sugar {
            min-height: 11.75rem;
            background-size: cover;
        }
    }
}

footer {
    padding: 4rem 0 5rem;
    background-color: hsla(168, 44%, 70%, 1);

    .footer-content {
        width: 79.2%;
        max-width: 18.75rem;
        margin: 0 auto;
        text-align: center;

        .logo-teal {
            width: 170px;
            height: 33px;
            margin-bottom: 2.5rem;
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5.5rem;

            a {
                font: $fw-normal 1.125rem/1.5625rem $ff-barlow;
                letter-spacing: -0.13px;
                color: $dark-moderate-cyan;
                text-decoration: none;
            }
        }

        .social-media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 10.25rem;
            height: 1.25rem;
            margin: 0 auto;

            .facebook a {
                background: url('./images/icon-facebook.svg') no-repeat center;
            }

            .instagram a {
                background: url('./images/icon-instagram.svg') no-repeat center;
            }

            .twitter a {
                background: url('./images/icon-twitter.svg') no-repeat center;
            }

            .pinterest a {
                background: url('./images/icon-pinterest.svg') no-repeat center;
            }

            .facebook, .instagram, .twitter, .pinterest {
                width: 1.25rem;
                height: 100%;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        background-image: url(./images/desktop/image-header.jpg);

        .hero {
            padding-bottom: 55.935%;

            &__title {
                margin-top: 6.5625rem;
            }

        }
        
        &::after {
            bottom: 39.35%;
        }
    }
    
    main {
        #about {
            grid-template-areas: "transform transform-img"
                                 "standout-img standout";
            grid-template-columns: repeat(2, 50%);
        }

        #services {
            grid-template-areas: "graphic photography";
        }

        .testimonials {
            margin: 10rem auto;

            &__title {
                margin-bottom: 5.0625rem;
            }

            &__container {
                row-gap: 4.3125rem;
            }
        }

        .testimonial {
            &__quote {
                max-width: 21.875rem;
                margin: 0 auto 2rem;
            }
        }

        #projects {
            .milk, .orange, .cone, .sugar {
                min-height: 27.9375rem;
            }

            .milk {
                background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
            }

            .orange {
                background-image: url(./images/desktop/image-gallery-orange.jpg);
            }

            .cone {
                background-image: url(./images/desktop/image-gallery-cone.jpg);
            }

            .sugar {
                background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    header {
        nav {
            padding: 2.125rem 3rem 0 2.5rem;

            .logo {
                width: 10.625rem;
            }

            #nav-menu {
                display: block;

                li {
                    display: inline-block;
                    list-style-type: none;

                    &:not(:last-child) {

                        a {
                            margin-right: 2.9375rem;
                            padding: 1rem 0;
                            background: linear-gradient($white, $white) no-repeat 0% 100%;
                            background-size: 0% 2px;
                            transition: background-size 0.2s ease-in-out;
    
                            &:hover {
                                background-size: 100% 2px;
                            }
                        }
                    }

                    a {
                        color: $white;
                        font: $fw-normal 1.125rem/1.5625rem $ff-barlow;
                        letter-spacing: -0.13px;
                        text-decoration: none;

                        &[href="#contact"] {
                            display: block;
                            padding: 1rem 2rem;
                            color: $very-dark-desaturated-blue;
                            font: $fw-bold 0.9375rem/1.5625rem $ff-fraunces;
                            letter-spacing: -0.11px;   
                            text-transform: uppercase;
                            background-color: $white; 
                            border-radius: 28px;
                            transition: all 0.2s linear;

                            &:hover {
                                color: $white;
                                background-color: $white-hover;
                            }
                        }
                    }
                }
            }

            .h-menu {
                display: none;
            }
        }

        .hero {
            padding-bottom: 37.16%;

            &__title {
                line-height: 4.3125rem;
            }
        }

        &::after {
            bottom: 41.47%;
        }
    }

    main {
        #about {
            .about {
                max-width: 720px;
                margin: 0 auto;
                padding: 18.11% 0;
                text-align: left;

                &__title {
                    line-height: 3.0825rem;
                }
            }

            .learn-more:hover:after {
                opacity: 1;
            }

            .transform {
                padding-left: 10.3125rem;
                padding-right: 6.875rem;

                &-img {
                    background-image: url(./images/desktop/image-transform.jpg);
                }
            }

            .standout {
                padding-left: 6.875rem;
                padding-right: 10.3125rem;

                &-img {
                    background-image: url(./images/desktop/image-stand-out.jpg);
                }
            }
        }

        #services {
            .service {
                margin-top: 55.25%;
            }

            .graphic {
                background-image: url(./images/desktop/image-graphic-design.jpg);
            }

            .photography {
                background-image: url(./images/desktop/image-photography.jpg);
            }
        }

        .testimonials {
            &__container {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .testimonial {
            img {
                margin-bottom: 3.625rem;
            }

            &__quote {
                margin-bottom: 4.3125rem;
            }
        }

        #projects {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    footer {
        padding: 4.5rem 0;

        .footer-content {
            .links {
                a {
                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        .social-media {
            .facebook {
                a:hover {
                    background-image: url(./images/icon-facebook-white.svg);
                }
            }

            .instagram {
                a:hover {
                    background-image: url(./images/icon-instagram-white.svg);
                }
            }

            .twitter {
                a:hover {
                    background-image: url(./images/icon-twitter-white.svg);
                }
            }

            .pinterest {
                a:hover {
                    background-image: url(./images/icon-pinterest-white.svg);
                }
            }
        }
    }
}