@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/* Colors */
/* Font */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFCF8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
}

header {
  position: relative;
  background: url(./images/mobile/image-header.jpg) no-repeat center;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 0;
}
header nav #nav-menu {
  display: none;
}
header nav #nav-menu.show-menu {
  display: block;
  list-style-type: none;
  width: 329px;
  min-height: calc(329px - 24px);
  position: absolute;
  top: calc(56px + 26px + 24px);
  right: 1.5rem;
  background-color: #fffdfa;
  z-index: 1;
}
header nav #nav-menu.show-menu li {
  width: fit-content;
  margin: 0 auto 2rem;
  font: 600 20px/25px "Barlow", sans-serif;
  letter-spacing: -0.14px;
}
header nav #nav-menu.show-menu li:first-child {
  margin-top: 2.4375rem;
}
header nav #nav-menu.show-menu li:last-child {
  margin-bottom: 2.4375rem;
}
header nav #nav-menu.show-menu li:nth-child(4) a {
  display: block;
  padding: 1rem 2rem;
  background-color: #fad400;
  border-radius: 28px;
  font: 700 15px/25px "Fraunces", serif;
  color: #23303e;
  letter-spacing: -0.11px;
  text-transform: uppercase;
}
header nav #nav-menu.show-menu li a {
  color: #818498;
  text-decoration: none;
}
header nav #nav-menu.show-menu::before {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid #fffdfa;
  border-bottom: 12px solid #fffdfa;
}
header nav .h-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}
header .hero {
  padding: 0 1.5rem 78.935%;
}
header .hero__title {
  margin-top: 5.5rem;
  font: 900 clamp(2.5rem, 4vw, 3.5rem)/3.0825rem "Fraunces", serif;
  letter-spacing: 0.3906rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
header::after {
  content: "";
  width: 36px;
  height: 114px;
  position: absolute;
  bottom: 25.35%;
  left: calc(50% - 36px / 2);
  background: url(./images/icon-arrow-down.svg);
}

main #about {
  display: grid;
  grid-template-areas: "transform-img" "transform" "standout-img" "standout";
}
main #about .transform {
  grid-area: transform;
}
main #about .transform-img {
  min-height: 312px;
  grid-area: transform-img;
  background: url(./images/mobile/image-transform.jpg) no-repeat center;
  background-size: cover;
}
main #about .standout {
  grid-area: standout;
}
main #about .standout-img {
  min-height: 312px;
  grid-area: standout-img;
  background: url("./images/mobile/image-stand-out.jpg") no-repeat center;
  background-size: cover;
}
main #about .about {
  padding: 4rem 1.5rem;
  text-align: center;
}
main #about .about__title {
  margin-bottom: 1.5rem;
  font: 900 clamp(2rem, 4vw, 2.5rem)/2.4663rem "Fraunces", serif;
  letter-spacing: -0.23px;
  color: #23303e;
}
main #about .about__info {
  margin-bottom: 2rem;
  font: 600 1.125rem/1.875rem "Barlow", sans-serif;
  letter-spacing: -0.13px;
  color: #818498;
}
main #about .learn-more {
  display: inline-block;
  padding: 0px 8px;
  position: relative;
  font: 900 0.9375rem/1.5625rem "Fraunces", serif;
  letter-spacing: 1px;
  color: #23303e;
  text-transform: uppercase;
  text-decoration: none;
}
main #about .learn-more::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #CCC;
  border-radius: 28px;
  opacity: 0.25;
  z-index: -1;
}
main #about .learn-more--yellow::after {
  background-color: #fad400;
}
main #about .learn-more--red::after {
  background-color: #fe7867;
}
main #services {
  display: grid;
  grid-template-areas: "graphic" "photography";
}
main #services .graphic {
  grid-area: graphic;
  background: url("./images/mobile/image-graphic-design.jpg") no-repeat center;
  background-size: cover;
  color: #25564b;
}
main #services .photography {
  grid-area: photography;
  background: url("./images/mobile/image-photography.jpg") no-repeat center;
  background-size: cover;
  color: #19536b;
}
main #services .service {
  width: 95%;
  max-width: 20.4375rem;
  margin: 24.875rem auto 3.6875rem;
  text-align: center;
}
main #services .service__title {
  margin-bottom: 1.6875rem;
  font: 900 1.75rem/2.1575rem "Fraunces", serif;
  letter-spacing: -0.2px;
}
main #services .service__info {
  font: 600 1rem/1.6875rem "Barlow", sans-serif;
  letter-spacing: -0.11px;
}
main .testimonials {
  width: 87.2%;
  max-width: 69.375rem;
  margin: 4rem auto;
  text-align: center;
}
main .testimonials__title {
  margin-bottom: 4rem;
  font: 900 1rem/1.2331rem "Fraunces", serif;
  letter-spacing: 4px;
  color: #a7abae;
  text-transform: uppercase;
}
main .testimonials__container {
  display: grid;
  gap: 4rem 1.875rem;
  grid-template-columns: 1fr;
}
main .testimonial img {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  margin-bottom: 2rem;
  border-radius: 50%;
}
main .testimonial__quote {
  margin-bottom: 2rem;
  font: 600 1.125rem/2rem "Barlow", sans-serif;
  letter-spacing: -0.13px;
  color: #5a636c;
}
main .testimonial__author {
  margin-bottom: 0.5625rem;
  font: 900 1.125rem/1.3869rem "Fraunces", serif;
  letter-spacing: -0.13px;
  color: #23303e;
}
main .testimonial__role {
  font: 600 0.875rem/1.5625rem "Barlow", sans-serif;
  letter-spacing: -0.1px;
  color: #a7abae;
}
main #projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main #projects .milk {
  background: url("./images/mobile/image-gallery-milkbottles.jpg") no-repeat center;
}
main #projects .orange {
  background: url("./images/mobile/image-gallery-orange.jpg") no-repeat center;
}
main #projects .cone {
  background: url("./images/mobile/image-gallery-cone.jpg") no-repeat center;
}
main #projects .sugar {
  background: url("./images/mobile/image-gallery-sugar-cubes.jpg") no-repeat center;
}
main #projects .milk, main #projects .orange, main #projects .cone, main #projects .sugar {
  min-height: 11.75rem;
  background-size: cover;
}

footer {
  padding: 4rem 0 5rem;
  background-color: #91d4c7;
}
footer .footer-content {
  width: 79.2%;
  max-width: 18.75rem;
  margin: 0 auto;
  text-align: center;
}
footer .footer-content .logo-teal {
  width: 170px;
  height: 33px;
  margin-bottom: 2.5rem;
}
footer .footer-content .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.5rem;
}
footer .footer-content .links a {
  font: 600 1.125rem/1.5625rem "Barlow", sans-serif;
  letter-spacing: -0.13px;
  color: #458c7e;
  text-decoration: none;
}
footer .footer-content .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.25rem;
  height: 1.25rem;
  margin: 0 auto;
}
footer .footer-content .social-media .facebook a {
  background: url("./images/icon-facebook.svg") no-repeat center;
}
footer .footer-content .social-media .instagram a {
  background: url("./images/icon-instagram.svg") no-repeat center;
}
footer .footer-content .social-media .twitter a {
  background: url("./images/icon-twitter.svg") no-repeat center;
}
footer .footer-content .social-media .pinterest a {
  background: url("./images/icon-pinterest.svg") no-repeat center;
}
footer .footer-content .social-media .facebook, footer .footer-content .social-media .instagram, footer .footer-content .social-media .twitter, footer .footer-content .social-media .pinterest {
  width: 1.25rem;
  height: 100%;
}
footer .footer-content .social-media .facebook a, footer .footer-content .social-media .instagram a, footer .footer-content .social-media .twitter a, footer .footer-content .social-media .pinterest a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url(./images/desktop/image-header.jpg);
  }
  header .hero {
    padding-bottom: 55.935%;
  }
  header .hero__title {
    margin-top: 6.5625rem;
  }
  header::after {
    bottom: 39.35%;
  }

  main #about {
    grid-template-areas: "transform transform-img" "standout-img standout";
    grid-template-columns: repeat(2, 50%);
  }
  main #services {
    grid-template-areas: "graphic photography";
  }
  main .testimonials {
    margin: 10rem auto;
  }
  main .testimonials__title {
    margin-bottom: 5.0625rem;
    font-size: 1.25rem;
    line-height: 1.6663rem;
    letter-spacing: 5px;
  }
  main .testimonials__container {
    row-gap: 4.3125rem;
  }
  main .testimonial__quote {
    max-width: 21.875rem;
    margin: 0 auto 2rem;
  }
  main #projects .milk, main #projects .orange, main #projects .cone, main #projects .sugar {
    min-height: 27.9375rem;
  }
  main #projects .milk {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
  }
  main #projects .orange {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
  }
  main #projects .cone {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
  }
  main #projects .sugar {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
  }
}
@media only screen and (min-width: 1100px) {
  header nav {
    padding: 2.125rem 3rem 0 2.5rem;
  }
  header nav .logo {
    width: 10.625rem;
  }
  header nav #nav-menu {
    display: block;
  }
  header nav #nav-menu li {
    display: inline-block;
    list-style-type: none;
  }
  header nav #nav-menu li:not(:last-child) a {
    margin-right: 2.9375rem;
    padding: 1rem 0;
    background: linear-gradient(white, white) no-repeat 0% 100%;
    background-size: 0% 2px;
    transition: background-size 0.2s ease-in-out;
  }
  header nav #nav-menu li:not(:last-child) a:hover {
    background-size: 100% 2px;
  }
  header nav #nav-menu li a {
    color: white;
    font: 600 1.125rem/1.5625rem "Barlow", sans-serif;
    letter-spacing: -0.13px;
    text-decoration: none;
  }
  header nav #nav-menu li a[href="#contact"] {
    display: block;
    padding: 1rem 2rem;
    color: #23303e;
    font: 700 0.9375rem/1.5625rem "Fraunces", serif;
    letter-spacing: -0.11px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 28px;
    transition: all 0.2s linear;
  }
  header nav #nav-menu li a[href="#contact"]:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
  }
  header nav .h-menu {
    display: none;
  }
  header .hero {
    padding-bottom: 37.16%;
  }
  header .hero__title {
    line-height: 4.3125rem;
  }
  header::after {
    bottom: 41.47%;
  }

  main #about .about {
    max-width: 720px;
    margin: 0 auto;
    padding: 21.945% 0;
    text-align: left;
  }
  main #about .about__title {
    margin-bottom: 2rem;
  }
  main #about .about__info {
    margin-bottom: 2.5rem;
  }
  main #about .learn-more:hover:after {
    opacity: 1;
  }
  main #about .transform {
    padding-left: 10.3125rem;
    padding-right: 6.875rem;
  }
  main #about .transform-img {
    background-image: url(./images/desktop/image-transform.jpg);
  }
  main #about .standout {
    padding-left: 6.875rem;
    padding-right: 10.3125rem;
  }
  main #about .standout-img {
    background-image: url(./images/desktop/image-stand-out.jpg);
  }
  main #services .service {
    margin-top: 55.25%;
  }
  main #services .graphic {
    background-image: url(./images/desktop/image-graphic-design.jpg);
  }
  main #services .photography {
    background-image: url(./images/desktop/image-photography.jpg);
  }
  main .testimonials__container {
    grid-template-columns: repeat(3, 1fr);
  }
  main .testimonial img {
    margin-bottom: 3.625rem;
  }
  main .testimonial__quote {
    margin-bottom: 4.3125rem;
  }
  main #projects {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    padding: 4.5rem 0;
  }
  footer .footer-content .links a:hover {
    color: white;
  }
  footer .social-media .facebook a:hover {
    background-image: url(./images/icon-facebook-white.svg);
  }
  footer .social-media .instagram a:hover {
    background-image: url(./images/icon-instagram-white.svg);
  }
  footer .social-media .twitter a:hover {
    background-image: url(./images/icon-twitter-white.svg);
  }
  footer .social-media .pinterest a:hover {
    background-image: url(./images/icon-pinterest-white.svg);
  }
}

/*# sourceMappingURL=style.css.map */
